* {
	box-sizing: border-box;
	font-family: "Barlow Semi Condensed", Helvetica, Arial, sans-serif;
}

body {
	margin: 0;
}

svg {
	padding: 0;
}

#game {
	width: 960px;
	position: relative;
}

#person-info {
	padding: 0 0 20px 0;
}

#right-container {
	width: 320px;
	float: right;
	flex-direction: column;
	padding: 0 0 0 15px;
}

#right-container h1 {
	font-size: 28px;
	font-weight: 600;
}

#game-info h2, #person-info > h2 {
	font-weight: 300;
	font-size: 18px;
	margin-top: -15px;
}

.actions-container {
	width: 100%;
}

.actions-container > div {
	float: left;
	padding: 10px;
	height: 50px;
	width: 100%;
	cursor: pointer;
	background-color: #f5f5f5;
	margin-bottom: 5px;
}

.actions-container div:hover {
	background-color: #eee;
}

.actions-container div object {
	float: left;
	margin-right: 10px;
}

.actions-container div h2 {
	float: left;
	font-weight: 300;
	font-size: 16px;
	margin-top: 6px;
}

.actions-container div h3 {
	float: right;
	font-weight: 300;
	font-size: 16px;
	margin-top: 6px;
	color: #999;
}

.actions-container div h3:before {
	content: "/";
	float: left;
	font-weight: 300;
	font-size: 16px;
	margin-right: 5px;
}

.actions-container div h3:after {
	content: "AP";
	float: right;
	font-weight: 300;
	font-size: 16px;
	margin-left: 5px;
}

#next-day {
	margin-top: 5px;
}

#next-day div {
	float: left;
	padding: 10px;
	height: 50px;
	width: 100%;
	cursor: pointer;
	background-color: #f5f5f5;
	margin-bottom: 5px;
}

#next-day div:hover {
	background-color: #FF9800;
	color: white;
}

#next-day div:active {
	background-color: #FF8F00;
}

#next-day div object {
	float: left;
	margin-right: 10px;
}

#next-day div h2 {
	float: left;
	font-weight: 300;
	font-size: 16px;
	margin-top: 6px;
}

#game-info {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#game-info div {
	text-align: center;
	background-color: #f5f5f5;
	padding: 0 10px;
	flex-grow: 1;
}

#game-info div h1 {
	font-size: 32px;
}

#game-info div h2 {
	font-weight: 300;
	font-size: 14px;
}

.name-bubble {
	border-radius: 5px;
	background-color: #303F9F;
	cursor: pointer;
	color: white;
	padding: 2px 7px;
	margin-right: 5px;
}

.log-item span:not(.name-bubble) {
	text-transform: uppercase;
}

#healthy-info h1 {
	color: #1B5E20;
}

#infected-info h1 {
	color: #B71C1C;
}

#dead-info h1 {
	color: #212121;
}

#log {
	height: 120px;
	width: 100%;
	overflow-y: scroll;
	background-color: #f5f5f5;
	padding: 5px 5px;
}

.log-item span {
	display: inline-block;
}

.log-item {
	width: 285px;
	font-size: 12px;
	padding: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	background-color: white;
	box-sizing: content-box;
	line-height: 1.5;
	overflow-x: scroll;
}

#info-container {
	margin-top: -5px;
	padding-bottom: 5px;
}

#group-info {
	padding: 0 0 20px 0;
}

#group-info > h2 {
	font-weight: 300;
	font-size: 18px;
	margin-top: -15px;
}

#group-type {
	text-transform: uppercase;
}

#tutorial-overlay {
	position: absolute;
	background-color: white;
	padding: 10px;
	min-width: 300px;
	max-width: 400px;
	min-height: 150px;
	top: 250px;
	left: 280px;
	border: 2px solid #333;
	box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.2);
}

#tutorial-overlay h1 {
	margin: 0px 0;
	font-size: 24px;
	font-weight: 600;
}

#tutorial-overlay p {
	margin-top: 5px;
}

#tutorial-btns {
	height: auto;
	color: white;
}

#tutorial-btns div {
	padding: 5px;
	cursor: pointer;
}

#next-btn {
	float: right;
	background-color: #4CAF50;
}

#skip-btn {
	float: left;
	background-color: #3F51B5;
}

#next-btn:hover {
	background-color: #388E3C;
}

#next-btn:active {
	background-color: #1B5E20;
}

#difficulty-modal {
	position: absolute;
	width: 400px;
	height: 160px;
	top: 240px;
	left: 280px;
	background-color: white;
	padding: 10px;
	border: 2px solid #333;
	box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.2);
	display: none;
}

#difficulty-modal h1 {
	margin: 0px 0;
	font-size: 24px;
	font-weight: 600;
}

#difficulty-btns {
	width: 100%;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}

#difficulty-btns div {
	padding: 5px;
	flex-grow: 1;
	text-align: center;
	border: 3px solid #2196F3;
	color: black;
	margin: 5px;
	cursor: pointer;
}

#difficulty-btns div:hover, #difficulty-btns div.active {
	background-color: #2196F3;
	color: white;
}

#start-game-btn {
	margin-right: 5px;
	margin-top: 10px;
	color: white;
	padding: 7px 15px;
	float: right;
	background-color: #4CAF50;
	cursor: pointer;
}

#start-game-btn:hover {
	background-color: #388E3C;
}

#game-over-modal {
	position: absolute;
	width: 400px;
	height: 160px;
	top: 240px;
	left: 280px;
	background-color: white;
	padding: 10px;
	border: 2px solid #333;
	box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.2);
	display: none;
}

#game-over-modal h1 {
	margin: 0px 0;
	font-size: 24px;
	font-weight: 600;
}

#game-over-modal p {
	margin-top: 5px;
	font-size: 20px;
}

#retry-game-btn {
	position: absolute;
	bottom: 15px;
	right: 15px;
	width: 100px;
	padding: 5px;
	background-color: #F44336;
	text-align: center;
	color: white;
	cursor: pointer;
}

#retry-game-btn:hover {
	background-color: #D32F2F;
}

#retry-game-btn:active {
	background-color: #B71C1C;
}