/* barlow-semi-condensed-300 - latin */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/barlow-semi-condensed-v1-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Barlow Semi Condensed Light'), local('BarlowSemiCondensed-Light'),
       url('../fonts/barlow-semi-condensed-v1-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/barlow-semi-condensed-v1-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/barlow-semi-condensed-v1-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/barlow-semi-condensed-v1-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/barlow-semi-condensed-v1-latin-300.svg#BarlowSemiCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-semi-condensed-regular - latin */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barlow-semi-condensed-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Barlow Semi Condensed Regular'), local('BarlowSemiCondensed-Regular'),
       url('../fonts/barlow-semi-condensed-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/barlow-semi-condensed-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/barlow-semi-condensed-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/barlow-semi-condensed-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/barlow-semi-condensed-v1-latin-regular.svg#BarlowSemiCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-semi-condensed-600 - latin */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/barlow-semi-condensed-v1-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Barlow Semi Condensed SemiBold'), local('BarlowSemiCondensed-SemiBold'),
       url('../fonts/barlow-semi-condensed-v1-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/barlow-semi-condensed-v1-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/barlow-semi-condensed-v1-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/barlow-semi-condensed-v1-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/barlow-semi-condensed-v1-latin-600.svg#BarlowSemiCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-semi-condensed-700 - latin */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/barlow-semi-condensed-v1-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Barlow Semi Condensed Bold'), local('BarlowSemiCondensed-Bold'),
       url('../fonts/barlow-semi-condensed-v1-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/barlow-semi-condensed-v1-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/barlow-semi-condensed-v1-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/barlow-semi-condensed-v1-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/barlow-semi-condensed-v1-latin-700.svg#BarlowSemiCondensed') format('svg'); /* Legacy iOS */
}